#like-label input {
  display: none;
  }

#like-label span {
  width: 50px;
  height: 50px;
  display: block;
  background: url("/image/like/like.png");
  background-size: contain;
}

#like-label input:checked + span {
  width: 50px;
  height: 50px;
  background: url("/image/like/liked.png");
  background-size: contain;
}
