extends layout
block title
    title Directions
    link(href='css/style.css', rel='stylesheet')

block content
    .row.clearfix
        .col-md-6.column.fill-left
          #map-canvas.map-canvas
        
        .col-md-6.column.fill-right
          #directions-panel.fill
