doctype html
html(lang='en')
head
meta(charset='utf-8')
title History 
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='Junjue')

link(href='css/style.css', rel='stylesheet')
!= css('styles')

body
  include partials/navbar
.container
  h3
    #{tips[0].email}
      #tips
        for tip in tips
          h2
            | Venue: #{tip.name}
          h3
            | Tip: #{tip.tip}
          p 
            | Time: #{tip.date}

!= js('application')
