extends layout

block content
	h1 Eat In NEU
	h3.marginBottom -- Junjue's final project for CS5610
	
	.row
		.col-md-3
			a.btn.btn-default.fitdivimg(href='#', role='button') Documentation »
		.col-md-3
			a.btn.btn-default.fitdivimg.marginBottom(href='#', role='button') Github »
	.row
		.col-md-3
			a.btn.btn-primary.fitdivimg.marginBottom(href='cover', role='button') Let's go »

