extends layout
block title
  link(href='css/style.css', rel='stylesheet')
  script(type='text/javascript', src='js/knockout-min.js')

block content
    .row.clearfix
        .col-md-6.column.fill-left
          h3
            | I know what to eat.
          br
          br
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection1') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level1')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level1Click}')
              li.divider(data-bind='visible: $data.hasNext')
          br
          br
          br
          br
          br
          br
          br
          br 
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection2, visible: showSelect2()') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level2')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level2Click}')
              li.divider(data-bind='visible: $data.hasNext')
          br
          br
          br
          br
          br
          br
          br
          br 
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection3, visible: showSelect3()') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level3')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level3Click}')
              li.divider(data-bind='visible: $data.hasNext')
          a.button.btn.btn-default.btn-bottom(href='/venue') Go! 
        
        .col-md-6.column.fill-right
          h3
            | Show me what do you have.
          br
          br
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection1') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level1')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level1Click}')
              li.divider(data-bind='visible: $data.hasNext')
          br
          br
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection2, visible: showSelect2()') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level2')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level2Click}')
              li.divider(data-bind='visible: $data.hasNext')
          br
          br
          div.btn-group.fill-width
            button.btn.btn-default.dropdown-toggle.fill-width(data-toggle='dropdown', data-bind='text: levelSelection3, visible: showSelect3()') Select One
            ul.dropdown-menu.fill-width(data-bind='foreach: level3')
              li
                a(data-bind='text: $data.key, event: {click: $parent.level3Click}')
              li.divider(data-bind='visible: $data.hasNext')
          br
          br
          div.row
            span(data-bind='text: details')
          br
          br 
          a.button.btn.btn-default.btn-bottom(href='/venue') Go! 

block script
  script(type='text/javascript', src='js/mockjax.js')
  script(type='text/javascript', src='js/cascadingdropdown.js')
  script(type='text/javascript', src='js/ajax-mocks.js')
  script(type='text/javascript', src='js/level.js')
