doctype html
html
head
meta(charset='utf-8')
title Level One
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='Junjue')
!= css('styles')
link(href='css/style.css', rel='stylesheet')

body
.container
    .row.clearfix
        .col-md-6.column
          h3
            | I know what to eat.
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          button.btn.btn-default.btn-block(type='button') Go! 
        .col-md-6.column
          h3
            | Show me what do you have.
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          .btn-group
            button.btn.btn-default Action
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Action
              li.disabled
                a(href='#') Another action
              li.divider
              li
                a(href='#') Something else here
          button.btn.btn-default.btn-block(type='button') Go! 

!= js('application')
