doctype html
html(lang='en')
head
meta(charset='utf-8')
title Venues
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='Junjue')

link(href='css/style.css', rel='stylesheet')
!= css('styles')

body
.container
    .row.clearfix
        .col-md-6.column
          .row.clearfix
            .col-md-12.column
              h3
                //-#{venue.name}
          #mapholder.map-frame
          .row.clearfix
            .col-md-12.column
            form.form-horizontal(role='form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label.col-sm-3.control-label(for='tip') New Tip
                .col-sm-4
                  input.form-control(name='tip', id='tip')
              .form-group
                .checkbox
                  //-label.col-sm-3.control-label(for='like') #{venue.like} Like
                  input.form-control(type='checkbox', name='like', id='like')
              .form-group
                .checkbox
                  //-label.col-sm-3.control-label(for='unlike') #{venue.unlike} Unlike
                  input.form-control(type='checkbox', name='unlike', id='unlike')
              .form-group
                .col-sm-offset-3.col-sm-4
                  button.btn.btn.btn-primary(type='submit')
                      | Add Tip 
              ul
                li
                  | Lorem ipsum dolor sit amet
                li
                  | Consectetur adipiscing elit
                li
                  | Integer molestie lorem at massa
                li
                  | Facilisis in pretium nisl aliquet
                li
                  | Nulla volutpat aliquam velit
                li
                  | Faucibus porta lacus fringilla vel
                li
                  | Aenean sit amet erat nunc
                li
                  | Eget porttitor lorem
              button.btn.btn-default(type='button') Default
        .col-md-6.column
          .row.clearfix
            .col-md-12.column
              h3
                | Veggie
              p
                | Lorem ipsum dolor sit amet,
                strong consectetur adipiscing elit
                | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.
                em
                  | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
                | Proin massa magna, vulputate nec bibendum nec, posuere nec lacus.
                small
                  | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
              button.btn.btn-default(type='button') Default
          .row.clearfix
            .col-md-12.column
              h3
                | h3. Lorem ipsum dolor sit amet.
              p
                | Lorem ipsum dolor sit amet,
                strong consectetur adipiscing elit
                | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus.
                em
                  | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
                | Proin massa magna, vulputate nec bibendum nec, posuere nec lacus.
                small
                  | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
              button.btn.btn-default(type='button') Default

!= js('application')
script(src='https://maps.googleapis.com/maps/api/js')
script(type='text/javascript', src='js/map_venue.js')
