.fillvh-left { 
    height: 80vh;
    background-color: transparent;
}

.fillvh-right { 
    height: 80vh;
    background-color: transparent;
}


.fillvh-right-scroll { 
    height: 70vh;
    overflow: scroll;
    background-color: transparent;
}


.popular-tip-scroll { 
    height: 40vh;
    overflow: scroll;
    background-color: transparent;
}

.fillfix-left { 
    height: 600px;
    background-color: #eeeeee;
}

.fillfix-right { 
    height: 600px;
    background-color: #cccccc;
}

.fill-width {
	width: 100%;
}

.map-frame{
	width: 100%;
	height: 400px;
}

.btn-bottom{
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
}

.cascading-dropdown-loading {
    cursor: wait;
    background: url('../image/ajax-loader.gif') 85% center no-repeat transparent;
}

.map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.eatlogo{
    height: 30px;
    width: 30px;
}
.eatlogoBig{
    height:100px;
    width:100px;
}

.item{
    height:200px;
}

.fitdivimg{
    width:100%;
}

.likeSign{
    width:50px;
    height:50px;
}
.divForVenueName{
    height:60px;
    padding-top: 10px;
}
.divForSmallVenue{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.divForAlsoLike{
    padding-left: 20px;
}
.removeMargin{
    margin-bottom: 0px;
    background-color: #FDF4EE;
}
.changeBgcolor{
    background-color: #fff;
    height:88vh;
}

.bgpic{
    background-image: url('/image/bgpic.png');
    background-color: #eeeeee;
}

.venueMap{
    width:100%;
}

.marginBottom{
    margin-bottom: 50px;

}
