.fill { 
    min-height: 100%;
    height: 800px;
}

.fill-left { 
    min-height: 100%;
    height: 800px;
    background-color: #eeeeee;
}

.fill-right { 
    min-height: 100%;
    height: 800px;
    background-color: #cccccc;
}

.fill-width {
	width: 100%;
}

.map-frame{
	width: 100%;
	height: 400px;
}

.btn-bottom{
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
}

