// Buttons
// -------------------------

.btn {
  padding: 10px 16px;
  border: 0;
  border-radius: 3px;
  transition: all .4s cubic-bezier(.24,.45,.46,.92);
  margin-right: 10px;

  &:hover {
    color: #fff;
    background-color: $gray-darker;
  }
}

.btn-dark {
  padding: 10px 50px;
  color:#fff;
  background-color: $gray-darker;

  &:hover {
    color:#fff;
    background-color:$brand-primary;
  }
}

.btn-social {
  padding: 10px 50px;

  :first-child {
    width: 38px;
    line-height: 38px;
  }
}

.btn-link {
  &:hover {
    color: $gray-darker;
    text-decoration: none;
    background-color: transparent;
  }
}

.btn-linkdark {
  color: $gray-darker;
  &:hover {
    color: $brand-primary;
  }
}

// Dropdowns
// -------------------------

$dropdown-link-color: $gray-darker;

.dropdown-menu > li > a {
  font-weight: 300;
}

// Forms
// -------------------------

.alert {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.noneResize{
    resize:none;
    border-color: $gray-light;
}

.bgColorLeft{
    background-color: transparent;
}
.bgColorLeft:hover{
    background-color: $gray-lighter;
}
.bgColorRight{
    background-color: transparent;
}
.bgColorRight:hover{
    background-color: $gray-lighter;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-default {
  border: 0;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  .navbar-nav {
    > li > a {
      transition: color .4s cubic-bezier(.24,.45,.46,.92);
    }
  }
}
