// Brand Colors
// -------------------------

$brand-primary: #F76E40;
$brand-success: #0f9d58;
$brand-warning: #f4b400;
$brand-danger: #d80017;
$brand-info: #5bc0dd;

$gray-lighter: #f5f5f5;
$gray-light: #E0E2E6;
$gray: #5C6477;
$gray-dark: #333D55;
$gray-darker: #1F2533;

// Typography
// -------------------------

$headings-font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Arial, sans-serif;

// Buttons
// -------------------------

$btn-default-bg: $gray-lighter;
$btn-default-color: $gray-darker;
$btn-primary-border: darken($brand-primary, 3.2%);
$btn-success-border: darken($brand-success, 3.2%);
$btn-warning-border: darken($brand-warning, 3.2%);
$btn-danger-border: darken($brand-danger, 3.2%);
$btn-info-border: darken($brand-info, 3.2%);

// Forms
// -------------------------

$input-border-radius: 2px;
$input-border-focus: #999;
$input-border: #f0f0f0;
$input-color: #444;
$input-color-placeholder: #999;
$input-height-base: 44px;

// Form states and alerts
// -------------------------

$state-success-text: #569845;
$state-success-bg: #dbf5d3;
$state-success-border: #aed3a5;

$state-info-text: #3a87ad;
$state-info-bg: #d9edf7;
$state-info-border: #98cce7;

$state-warning-text: #bf9853;
$state-warning-bg: #fdf8e2;
$state-warning-border: #f2daab;

$state-danger-text: #b94a48;
$state-danger-bg: #f2dede;
$state-danger-border: #e0b1b8;


// Navbar
// -------------------------

$navbar-height: 50px;
$navbar-default-bg: rgba(255, 255, 255, 0.9);
$navbar-default-link-color: $gray-darker;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: #brand-primary;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-brand-color: $gray-darker;
$navbar-default-brand-hover-color: $brand-primary;
