extends ../layout
block content
	h1.errorWords= title
	.row
		.col-md-2
		.col-md-8
			img.fitdivimg.marginBottom(src='/image/errorPage.jpg')
	.row
		.col-md-5
		.col-md-4
			a.btn.btn-primary.marginBottom(href='/cover') Take me to the homepage »
